/* Gradient defined */
.application-fill           { fill: fb-cyan; }
.app-gradient-background    { fill: fb-blue; }
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

/* Settings */

.list-item {
  height: 112;
}

.list-item text {
  fill: "white";
  text-anchor: middle;
  x: 50%;
  font-size: 24;
  text-length: 20;
}

.line {
  width: 100%;
  height: 6;
  fill: #222222;
  y: 100%-6;
}

.bg {
  fill: #111111;
  width: 100%;
  height: 100%;
  x: 0;
  y: 0;
}

#touch {
  width: 100%;
  height: 100%-6;
  x: 0;
  y: 0;
  opacity: 0;
}

#settings-icon-container {
  x: 50%;
  y: 0;
  fill: none;
  width: 100%;
  height: 25%;
  pointer-events: visible;
}

#settings-icon {
  x: 80%;
  y: 5%;
  width: 40;
  height: 40;
}

#settings-menu {
  display: none;
}

/* Launch screen */
#start-select {
  font-size: 40;
  text-length: 20;
  fill: white;
  x: 50%;
  y: 35%;
  text-anchor: middle;
}

#you-container {
  x: 0;
  y: 67%;
  pointer-events: visible;
}

#you-button {
  fill: coral;
  width: 100%;
  height: 100%;
  x: 0;
  y: 0;
}

#you-text {
  font-size: 50;
  text-length: 4;
  fill: white;
  text-anchor: middle;
  x: 25%;
  y: 20%;
}

#them-container {
  width: 100%;
  x: 50%;
  y: 67%;
  pointer-events: visible;
}

#them-button {
  fill: lightskyblue;
  width: 100%;
  height: 100%;
  x: 0;
  y: 0;
}


#them-text {
  font-size: 50;
  text-length: 4;
  fill: white;
  x: 25%;
  y: 20%;
  text-anchor: middle;
}
/* End launch screen */

/* Main game screen */
#main {
  display: none;
}

/* Serving dashboard */

#serving-score {
  font-size: 40;
  text-length: 2;
  y: 10%;
  x: 30%;
  fill: white;
  text-anchor: middle;
}

#dash-1 {
  font-size: 40;
  text-length: 2;
  y: 10%;
  x: 40%;
  fill: white;
  text-anchor: middle;
}

#non-serving-score {
  font-size: 40;
  text-length: 2;
  y: 10%;
  x: 50%;
  fill: white;
  text-anchor: middle;
}

#dash-2 {
  font-size: 40;
  text-length: 2;
  y: 10%;
  x: 60%;
  fill: white;
  text-anchor: middle;
}

#current-server {
  font-size: 40;
  text-length: 2;
  y: 10%;
  x: 70%;
  fill: white;
  text-anchor: middle;
}

/* End serving dashboard */

/* Main score */

#team-one-server-two {
  font-size: 35;
  text-length: 2;
  y: 53%;
  x: 25%;
  fill: coral;
}

#team-one-score {
  font-size: 50;
  text-length: 2;
  y: 53%;
  x: 50%;
  fill: coral;
  text-anchor: middle;
}

#team-one-server-one {
  font-size: 35;
  text-length: 2;
  y: 53%;
  x: 65%;
  fill: coral;
}

#dividing-line {
  x1: 20%;
  y1: 35%;
  x2: 80%;
  y2: 35%;
  fill: white;
  stroke-width: 4;
}

#server-line-1 {
  x: 80;
  y: 55;
  width: 150;
  height: 150;
  display: none;
}

#server-line-2 {
  x: 80;
  y: 55;
  width: 150;
  height: 150;
  display: none;
}

#server-line-3 {
  x: 90;
  y: 53;
  width: 150;
  height: 150;
  display: none;
}

#server-line-4 {
  x: 90;
  y: 53;
  width: 150;
  height: 150;
  display: none;
}

#team-two-server-one {
  font-size: 35;
  text-length: 2;
  y: 27%;
  x: 25%;
  fill: lightskyblue;
}

#team-two-score {
  font-size: 50;
  text-length: 2;
  y: 27%;
  x: 50%;
  fill: lightskyblue;
  text-anchor: middle;
}

#team-two-server-two {
  font-size: 35;
  text-length: 2;
  y: 27%;
  x: 65%;
  fill: lightskyblue;
}

/* End main score */

#rally-winner {
  font-size: 40;
  text-length: 20;
  fill: white;
  x: 50%;
  y: 65%;
  text-anchor: middle;
}

#winner-you-container {
  x: 0;
  y: 67%;
  pointer-events: visible;
}

#winner-you-button {
  fill: coral;
  width: 100%;
  height: 100%;
  x: 0;
  y: 0;
}

#winner-you-text {
  font-size: 50;
  text-length: 4;
  fill: white;
  text-anchor: middle;
  x: 25%;
  y: 20%;
}

#winner-them-container {
  width: 100%;
  x: 50%;
  y: 67%;
  pointer-events: visible;
}

#winner-them-button {
  fill: lightskyblue;
  width: 100%;
  height: 100%;
  x: 0;
  y: 0;
}


#winner-them-text {
  font-size: 50;
  text-length: 4;
  fill: white;
  x: 25%;
  y: 20%;
  text-anchor: middle;
}

/* End game text */

#game-end {
  display: none;
  width: 100%;
  height: 100%;
  fill: white;
  x: 0%;
  y: 0%;
}

#game-over-text {
  x: 50%;
  y: 40%;
  text-anchor: middle;
}

#game-end-winner {
  font-size: 50;
  x: 50%;
  y: 60%;
  text-length: 14;
  text-anchor: middle;
}

